.faixa{
    justify-content: left;
    position: absolute;
    right: 0px;
    width: 1200px;
    height: 96px;
    backdrop-filter: blur(25px) brightness(120%);
    border-radius: 1px;
    padding-top: 30px;
}

@supports(backdrop-filter: opacity( 1.0 )) {
    .no-support {
      display: none;
    }
  }

.topo .nav-pages .page{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}
.topo .nav-pages .page .number{
    font-weight: bold;
    display: flex;
    padding-right: 10px;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.topo .nav-pages{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    z-index: 2;
    position: absolute;
    right: 0px;
}

.topo .nav-pages .page.ativo{
    border-bottom: 3px solid #FFFFFF;
}


@media (max-width: 750px) {
    li{
        display: list-item;
        padding: 20px;
    }
}