*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

li{
    display:inline-flex;
    justify-content: space-between;
    padding: 39px;
    align-items:center;
}